@using BudgetManager.Models.Transaction
@model IEnumerable<TransactionListVM>
@{
	ViewData["Title"] = "Transacciones";
}

<h1>Transacciones</h1>
<h4>Las transacciones son la transferencias de activos a través de cuentas y/o usuarios.</h4>

<a asp-action="Create" class="btn btn-primary mb-3">Crear transacción</a>

@if (Model.Any())
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Cuenta</th>
				<th>Monto</th>
				<th>Categoría</th>
				<th>Fecha de transacción</th>
				<th>Tipo de operación</th>
				<th>Nota</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			@{
				var index = 1;
			}
			@foreach(var transaction in Model)
			{
					<tr>
						<td>@index</td>
						<td>@transaction.Account</td>
						<td>@transaction.Amount</td>
						<td>@transaction.Category</td>
						<td>@transaction.TransactionDate.ToString("d")</td>
						<td>@transaction.OperationType</td>
						<td>@transaction.Note</td>
						<td>
							<input type="hidden" value="@transaction.Id" class="ids" />
							<a class="btn btn-primary bi bi-pencil" asp-controller="Transaction" asp-action="Edit" asp-route-id="@transaction.Id"></a>
							<a class="btn btn-danger bi bi-trash" asp-controller="Transaction" asp-action="Delete" asp-route-id="@transaction.Id"></a>
						</td>
					</tr>
				index++;
			}
		</tbody>
	</table>
}
else
{
	<span>No Hay elementos.</span>
}