@using BudgetManager.Models.Category
@model IEnumerable<CategoryListVM>
@{
	ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>
<h5>La categoría indica en que gastamos y de donde provienen nuestros ingresos.</h5>

<partial name="_Notification" />

<a asp-action="Create" class="btn btn-primary mb-3">Crear categoría</a>

@if (Model.Any())
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Tipo de operación</th>
				<th scope="col">Acciones</th>
			</tr>
		</thead>
		<tbody>
			@{
				var index = 1;
			}
			@foreach(var category in Model)
			{
				<tr>
					<td>@index</td>
					<td>@category.Name</td>
					<td>@category.OperationType</td>
					<td>
						<input type="hidden" value="@category.Id" class="ids" />
						<a asp-action="Edit" asp-route-Id="@category.Id" class="bi bi-pencil me-2 btn btn-primary"></a>
						<a asp-action="Delete" asp-route-Id="@category.Id" class="bi bi-trash btn btn-danger"></a>
					</td>
				</tr>
				index++;
			}
		</tbody>
	</table>
}else 
{
	<span class="text-info">No hay categorias para mostrar.</span>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

