@using BudgetManager.Web.Models.Report
@model ReportViewModel
@{
	ViewData["Title"] = "Reporte mensual";
}

<form asp-action="Monthly" method="post" class="mb-3 row g-3">
	<input type="hidden" asp-for="ReportType">
	<div class="col-md-4">
		<label asp-for="Month" class="form-label" value="@Model.StartDate"></label>
		<input asp-for="Month" type="date" class="form-control" />
		<span asp-validation-for="Month" class="text-danger" />
	</div>
	<div class="col-md-4">
		<label asp-for="AccountId" class="form-label" value="@Model.AccountId"></label>
		<select asp-for="AccountId"
				asp-items="@Model.SelectOptions"
				class="form-select" 
				aria-label="Default select example"> 
			<option value="">Todas las cuentas.</option>
		</select>
		<span asp-validation-for="AccountId" class="text-danger" />
	</div>
	<div class="col-md-4 d-flex align-items-end">
		<button type="submit" class="btn btn-success w-100">Consultar Mensual</button>
	</div>
</form>

<div class="results mt-4">
	@if (Model.TimeSeries != null && Model.TimeSeries.Any() && Model.ReportType == "monthly")
	{
		<div class="card mt-4">
			<div class="card-body">

				<h5>Resumen</h5>
				<p><strong>Ingreso Total:</strong> @Model.TotalIncome</p>
				<p><strong>Gasto Total:</strong> @Model.TotalExpense</p>
				<p><strong>Balance:</strong> @Model.Balance</p>

				<hr />

				<h5>Detalles</h5>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Ingreso</th>
							<th>Gasto</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.TimeSeries)
						{
							<tr>
								<td>@item.Date.ToShortDateString()</td>
								<td>@item.Income</td>
								<td>@item.Expense</td>
							</tr>
						}
					</tbody>
				</table>

			</div>
		</div>
	}
	else if (Model.ReportType == "monthly")
	{
		<partial name="_NoResults" />
	}
</div>